@model IEnumerable<MVCRecipe.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-bordered text-center" style="width:100%" >
    <thead>
        <tr style="background-color: #C0C0C0 ">
            <th>
                Nom du plat
            </th>
            <th>
                Nombre d'assiettes
            </th>
            <th>
                Début de saison
            </th>
            <th>
                Fin de saison
            </th>
            <th>
                Ingredient 1
            </th>
            <th>
                Ingredient 2
            </th>
            <th>
                Ingredient 3
            </th>
            <th>
                Ingredient 4
            </th>
            <th>
                Ingredient 5
            </th>
            <th>
                Ingredient 6
            </th>
            <th>
                Ingredient 7
            </th>
            <th>
                Ingredient 8
            </th>
            <th>
                Ingredient 9
            </th>
            <th>
                Ingredient 10
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.NumMeal)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.StartSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient9)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
